.maincontent {
    margin-left: 180px;
    width: 100vw;
    height: 100vh;
    background-color: #ebebeb;
}

.container {
    padding: 20px 40px;
    margin: 5vw;
    background-color: #fff;
    color: #8B2580;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container .field {
    margin-bottom: 15px;
}

.dynfield {
    display: grid;
    grid-template-columns: 100px 1fr 100px 1fr;
    gap: 10px 15px;
    justify-items: start;
    align-items: center;
}

.fieldExpenses {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.dynfield label {
    margin: 0;
    text-align: right;
    font-weight: bold;
}

.dynfield input,
.dynfield select {
    width: 100%;
}

.container input,
.container select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.container button {
    width: 100%;
    padding: 10px;
    background: #8B2580;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.1s ease-out;
}

.container button:hover {
    background: rgb(167, 70, 155);
}