.maincontent {
    margin-left: 180px;
    width: 100vw;
    height: 100%;
    background-color: #ebebeb;
}

.container {
    padding: 20px 40px;
    margin: 0px 50px 40px 50px;
    background-color: #fff;
}

/* Botão mês */
.month-dropdown {
    width: 200px;
    margin-left: 50px;
    margin-top: 50px;
}

.month-btn {
    width: 100%;
    background-color: #C36AB9;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.1s ease-out;
}

/* .month-btn:hover {
    background-color: #97348c;
} */

.month-btn img {
    width: 30px;
    color: #fff;
}

.month-list {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    margin-top: 5px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.month-list li {
    padding: 10px;
    cursor: pointer;
}

.month-list li:hover {
    background-color: #eee;
}

/* Tabela */
.stock-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    color: #8B2580;
}

.stock-table th,
.stock-table td {
    padding: 12px;
    border: none;
    text-align: center;
}

.stock-table th {
    border: none;
    border-bottom: 3px solid #C36AB9;
}

.currentMonth{
    font-size: 20px;
    font-weight: 700;
}